*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
    
    
}

body{
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  ),url("https://upload.wikimedia.org/wikipedia/commons/1/16/Spaceship_Earth_and_entry_plaza_2021.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
};



    
#h1 {
    height: 18%;
}
.child1 {
   height: 120px;
   
   
}
.child3 {
    width: 200px;
    height: 200px;
    color: azure;
    font-size: 30px;
    
    
}
