*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
}

body{
background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/16/Spaceship_Earth_and_entry_plaza_2021.jpg");
background-position: center;
background-size: cover;
background-attachment: fixed;
background-image: linear-gradient((rgba(0,8,51,0.9),rgba(0,8,51,0.9)));
align-items: center;

};



h1 {
    justify-content: center;
    font-size: 35px;
}
.present{  
    position: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}